<html>

<head>
  <!--Font-->
  <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>

  <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/src/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/src/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/src/images/favicon-16x16.png">
    <link rel="icon" href="../static/src/images/favicon.ico" type="image/x-icon">
    <link rel="manifest" href="../static/src/images/site.webmanifest">
    <link rel="mask-icon" href="../static/src/images/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  <!-- Stylesheet -->
  <link href="../static/src/css/about_style.css" rel="stylesheet">

  <title>hikepnw.us</title>

</head>

<body>

<div>

  <!-- Navigation Menu -->
  <div id="menubar">
    <div class="menuspacer">
    </div>
    <div class="logoframe">
        <span class="helper"></span>
        <a href="/"><img class="logo" src="../static/src/images/hikepnw_logo.png" height=60 /></a>
    </div>
    <div class="menu">
      <a href="about" class="menu">About</a>
    </div>
  </div>

  <!-- The Project -->
  <div>
    <div class="main" style="text-align:center;">
      <h1 >About </h1>
    </div>
  </div>

  <!-- The Project -->
  <div>
    <div class="main">
      <h2 >The Project</h2>
    </div>
    <div class="main">
      <div style="text-align:left;vertical-align:top;">
        <img style="height:300px;float:right;padding-left:20px;" src="../static/src/images/pnwhike_map.png">
        <p style="text-align: justify;">
          The majestic landscapes the Pacific Northwest are home to thousands of hiking trails that offer a remarkable diversity of experiences. From the beaches of the Pacific coast, to the peaks of the Cascades, to the high desert of eastern Oregon, it can be a little overwhelming to decide where to go next.
        </p>
        <p style="text-align: justify;">
          The hikepnw.us project serves as your guide to the many hiking gems in the Pacific Northwest. Think of it as having an expert making hiking trail recommendations that are personalized to you! By using hikepnw.us to plan your next outdoor adventure, you'll spend less time searching and more time out on the trail!
        </p>
      </div>
    </div>
  </div>

  <!-- The Data -->
  <div>
    <div class="main">
      <h2 >The Data</h2>
    </div>
    <div class="main">
      <div style="text-align:left;vertical-align:top;">
        <p style="text-align: justify;">
          The data behind hikepnw.us consists of trail information, trail ratings, and trail reviews from AllTrails®. More than 150,000 reviews from over 60,000 users are harnessed to make expert recommendations across over 3,200 hiking trails tailored to the specific interests of individual users.
        </p>
      </div>
    </div>
  </div>

  <!-- The Application -->
  <div>
    <div class="main">
      <h2 >The Data Science</h2>
    </div>
    <div class="main">
      <p style="text-align: justify;">
        Hiking trail recommendations are determined using a hybrid recommendation algorithm called <a href="https://lyst.github.io/lightfm/docs/home.html#" style="color: white" class="aboutlink" target="_blank">LightFM</a>. Using this hybrid model, latent embedding for new and existing users are learned in concert with user representations, collaborative filtering from user ratings, and a Weighted Approximate-Rank Pairwise loss function through stochastic gradient descent. User representations are determined by extracting key trail-descriptors from user reviews. The bridging principal is that users old and new who share similar vocabularies and who use similar descriptors are more likely to desire similar outdoor experiences. For example, some users are looking for 'epic' hikes that are 'cool' and 'challenging', while others might be looking for hikes that are 'peaceful', 'relaxing', and 'family friendly'.
      </p>
      <p style="text-align: justify;">
        To help refine recommendations, a couple of "must have" trail filters are applied based on trail features. This makes sure that recommended trails are truly personalized to the interests of the user.
      </p>
      <p style="text-align: justify;">
        The backend of the application was built using the <a href="http://flask.pocoo.org/" style="color: white" class="aboutlink" target="_blank">Flask</a> microframework and the data were handled using the Python modules <a href="http://pandas.pydata.org/" class="aboutlink" style="color: white" target="_blank">pandas</a>, <a href="http://www.numpy.org" class="aboutlink" style="color: white" target="_blank">NumPy</a>, <a href="https://www.scipy.org/" class="aboutlink" style="color: white" target="_blank">SciPy</a>, and <a href="http://www.sqlalchemy.org/" class="aboutlink" style="color: white" target="_blank">SQLAlchemy</a>. All data are stored in a PostgreSQL database.
        The application is hosted on an <a href="https://aws.amazon.com/" style="color: white" class="aboutlink" target="_blank">Amazon Web Services</a> Ubuntu microinstance and served using nginx and gunicorn. The user interfaces for the site were constructed using HTML, CSS, bootstrap, and fastselect.
      </p>
    </div>
  </div>

  <!-- The About Me -->
  <div>
    <div class="main">
      <h2 >Created By Andy Upton</h2>
      <div style="text-align:left;vertical-align:top;">
        <img style="height:250px;float:left;padding-right:20px;" src="../static/src/images/headshot.png">
      </div>
    </div>
    <div class="main">
        <p style="text-align: justify;">
          The hikepnw.us web app project was created by me, Andy Upton. I built this app as a Data Science Fellow at Insight. I love hiking with my wife and puppy-dog. When we recently moved to Portland, OR it was hard to figure out where to hike next!
        </p>
        <p style="test-align: justify">
        I am finishing up a Ph.D. in a Anthropology from Michigan State University, and I love to solve complex problems related to human behavior using approaches from social network analysis, statistics and machine learning.
        </p>
        <p style="text-align: justify;">
          You can find out more about me by visiting my personal website <a href="https://andyupton.net/" style="color: white" class="aboutlink" target="_blank">andyupton.net</a> or my <a href="https://www.linkedin.com/in/andy-upton/" style="color: white" class="aboutlink" target="_blank">LinkedIn</a>. You can see other examples of my work on <a href="https://github.com/ajupton" style="color: white" class="aboutlink" target="_blank">GitHub</a>.
        </p>
    </div>
  </div>

  <div>
  <!--      <div class="main">
      <h2 >Demo Slides</h2>
    </div>
    <div class="main">
  <iframe src="//www.slideshare.net/slideshow/embed_code/key/wjQlp41C4cB9cD" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
      <div style="margin-bottom:5px">
        <strong><a class="aboutlink" href="//www.slideshare.net/MichaelScherrer1/parkpicus-demo-slides" title="Parkpic.us Demo Slides" target="_blank">Parkpic.us Demo Slides</a></strong>
      </div>
    </div>
  </div> -->


  <!-- Bottom Spacing -->
  <br><br><br><br>
    <div class="main" style="text-align:center"><h4>Recommendations are made for entertainment purposes only. </h4></div>
    <div class="main" style="text-align:center"><h4>Copyright © hikepnw 2019</h4></div>

</div>

</body>

</html>
