<html>

<head>
<!--Font-->
  <link href='https://fonts.googleapis.com/css?family=Nunito Sans' rel='stylesheet'>
<!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="../static/src/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/src/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/src/images/favicon-16x16.png">
  <link rel="manifest" href="../static/src/images/site.webmanifest">
  <link rel="mask-icon" href="../static/src/images/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

<!-- Stylesheet -->
<link href="../static/src/css/input_style.css" rel="stylesheet">

<title>hikepnw.us</title>
</head>

<!-- Navigation Menu -->
 <div id="menubar">
   <div class="menuspacer">
   </div>
   <div class="logoframe">
       <span class="helper"></span>
       <a href="/"><img class="logo" src="../static/src/images/hikepnw_logo.png" height=60 /></a>
   </div>
   <div class="menu">
     <a href="about" class="menu">About</a>
   </div>
   <div class="menu">
     <a href="contact" class="menu">Contact</a>
   </div>
 </div>


<!-- Collect all user input -->
<body>
    <div class="main">
      <div style="text-align:center">
      <br><br><br>
      <div class="starter-template">
        <h1>FIND A TRAIL THAT FITS YOU!</h1>
    </div>

<!-- Location Input -->
<form name="ideal_hike" action='/trail_recommendations', method='POST'>
      <div ><h3>Where are you headed?</h3></div>
      <select name="user_location" id="user_location" class="selectpicker form-control">
          <option selected="selected" value = 'e'>Select Pacific Northwest Location</option>
          <option value="Eastern Oregon">Eastern Oregon</option>
          <option value="Eastern Washington">Eastern Washington</option>
          <option value="North Central Oregon">North Central Oregon (greater Portland)</option>
          <option value="North Central Washington">North Central Washington</option>
          <option value="Northern Oregon Coast">Northern Oregon Coast</option>
          <option value="Olympic Peninsula and Vancouver Island">Olympic Peninsula and Vancouver Island</option>
          <option value="Southern British Columbia">Southern British Columbia</option>
          <option value="Southern Oregon Coast">Southern Oregon Coast</option>
          <option value="South Central Oregon">South Central Oregon</option>
          <option value="South Central Washington">South Central Washington</option>
          <option value="e">Show me all of the PNW!</option>
      </select>
      <br>

<!-- Ideal Hike Description Input -->
    <div ><h3>Describe your ideal hike in a few key words:</h3></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://rawgit.com/dbrekalo/fastselect/master/dist/fastselect.min.css">
        <script src="https://rawgit.com/dbrekalo/fastsearch/master/dist/fastsearch.min.js"></script>
        <script src="https://rawgit.com/dbrekalo/fastselect/master/dist/fastselect.min.js"></script>

        <select name = "user_feature_options[]" , id = "user_feature_options", class="multipleSelect" multiple name= "user_features_mult">
          <option value="amazing">Amazing</option>
          <option value="awesome">Awesome</option>
          <option value="beach">Beach</option>
          <option value="beautiful">Beautiful</option>
          <option value="beginnger_friendly">Beginner Friendly</option><!--spelled this wrong in datatable is correct here -->
          <option value="breathtaking">Breathtaking</option>
          <option value="challenging">Challenging</option>
          <option value="cool">Cool</option>
          <option value="epic">Epic</option>
          <option value="experts_only">Experts Only</option>
          <option value="family_friendly">Family Friendly</option>
          <option value="fantastic">Fantastic</option>
          <option value="flat">Flat</option>
          <option value="forest">Forested</option>
          <option value="fun">Fun</option>
          <option value="dog_friendly">Good for dogs</option>
          <option value="gorgeous">Gorgeous</option>
          <option value="incredible">Incredible</option>
          <option value="lake">Lake nearby</option>
          <option value="long">Long</option>
          <option value="lovely">Lovely</option>
          <option value="mountain_views">Mountain Views</option>
          <option value="scenery">Nice Scenery</option>
          <option value="paved">Paved</option>
          <option value="peaceful">Peaceful</option>
          <option value="pretty">Pretty</option>
          <option value="quiet">Quiet</option>
          <option value="recommended">Recommended</option>
          <option value="relaxing">Relaxing</option>
          <option value="river">River</option>
          <option value="scenic">Scenic</option>
          <option value="short">Short</option>
          <option value="snow">Snow</option>
          <option value="spectacular">Spectacular</option>
          <option value="water">Water</option>
          <option value="wildflowers">Wildflowers</option>
          <option value="wonderful">Wonderful</option>
        </select>

<!-- Javascript to record Multiselect Input Selections -->
      <script>
        $('.multipleSelect').fastselect();
        var $user_feature_options = $('user_feature_options[]');
      </script>

      <br>

<!-- Trail Filters -->
      <div ><h3>Any must have trail features?</h3></div>
        <table align="center">
          <tr>
            <td>
              <select name="trail_feature_select1" id="trail_feature_select1" class="selectpicker form-control">
                <option selected="selected" value="dog_friendly">Dog Friendly</option>
                <option value="avoid_bugs">Avoid Bugs</option>
                <option value="dog_no">Avoid Dogs</option>
                <option value="backpacking">Backpacking</option>
                <option value="birding">Birding</option>
                <option value="camping">Camping</option>
                <option value="canoeing">Canoeing*</option>
                <option value="cave">Caves*</option>
                <option value="xc_skiing">Cross Country Skiing*</option>
                <option value="dog_friendly">Dog Friendly</option>
                <option value="kids">Family Friendly</option>
                <option value="fishing">Fishing</option>
                <option value="fly_fishing">Fly Fishing*</option>
                <option value="no_shade">Full Sun (no shade)*</option>
                <option value="historic_site">Historic Site*</option>
                <option value="horses">Horses known in area</option>
                <option value="hot_springs">Hot Springs*</option>
                <option value="lake">Lake</option>
                <option value="long">Long (8+ miles)</option>
                <option value="loop_trail">Loop Trail</option>
                <option value="moderate">Moderate Length (3-8 miles)</option>
                <option value="old_growth">Old Growth Forest*</option>
                <option value="out_and_back_trail">Out and Back Trail</option>
                <option value="not_rocky">Not Rocky</option>
                <option value="not_too_steep">Not Too Steep</option>
                <option value="paved">Paved*</option>
                <option value="river">River</option>
                <option value="rock_climbing">Rock Climbing</option>
                <option value="sea_kayaking">Sea Kayaking*</option>
                <option value="short">Short (under 3 miles)</option>
                <option value="snow">Snow</option>
                <option value="snowshoeing">Snowshoeing</option>
                <option value="strollers">Stroller Friendly</option>
                <option value="trail_running">Trail Running</option>
                <option value="waterfall">Waterfall</option>
                <option value="wildflowers">Wildflowers</option>
                <option value="wildlife">Wildlife</option>
              </select>
            </td>
            <td>
              <select name="trail_feature_select2" id="trail_feature_select2" class="selectpicker form-control">
                <option selected="selected" value="moderate">Moderate Length (3-8 miles)</option>
                <option value="avoid_bugs">Avoid Bugs</option>
                <option value="dog_no">Avoid Dogs</option>
                <option value="backpacking">Backpacking</option>
                <option value="birding">Birding</option>
                <option value="camping">Camping</option>
                <option value="canoeing">Canoeing*</option>
                <option value="cave">Caves*</option>
                <option value="xc_skiing">Cross Country Skiing*</option>
                <option value="dog_friendly">Dog Friendly</option>
                <option value="kids">Family Friendly</option>
                <option value="fishing">Fishing</option>
                <option value="fly_fishing">Fly Fishing*</option>
                <option value="no_shade">Full Sun (no shade)*</option>
                <option value="historic_site">Historic Site*</option>
                <option value="horses">Horses known in area</option>
                <option value="hot_springs">Hot Springs*</option>
                <option value="lake">Lake</option>
                <option value="long">Long (8+ miles)</option>
                <option value="loop_trail">Loop Trail</option>
                <option value="moderate">Moderate Length (3-8 miles)</option>
                <option value="old_growth">Old Growth Forest*</option>
                <option value="out_and_back_trail">Out and Back Trail</option>
                <option value="not_rocky">Not Rocky</option>
                <option value="not_too_steep">Not Too Steep</option>
                <option value="paved">Paved*</option>
                <option value="river">River</option>
                <option value="rock_climbing">Rock Climbing</option>
                <option value="sea_kayaking">Sea Kayaking*</option>
                <option value="short">Short (under 3 miles)</option>
                <option value="snow">Snow</option>
                <option value="snowshoeing">Snowshoeing</option>
                <option value="strollers">Stroller Friendly</option>
                <option value="trail_running">Trail Running</option>
                <option value="waterfall">Waterfall</option>
                <option value="wildflowers">Wildflowers</option>
                <option value="wildlife">Wildlife</option>
              </select>
            </td>
          </tr>
        </table>

      <div class='buttons'>

    <div ><h4>*Some trail features only available for a limited subset of trails</h4></div>

    <button class = "button" type="submit">SHOW ME SOME TRAILS!</button>


    </div>
</form>
<br><br><br>
  <div ><h4>Copyright © hikepnw 2019</h4></div>

    </div>
    </div>
  </body>
</html>
